body,
html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font: 13px/18px Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}
.body-content .container-wrapper .container.map-menu a {
    display: inline-block;
    margin-left: 0;
    margin: 0 8px 3px 0
}
.body-content .container-wrapper .container.map-menu a.checked {
    cursor: default
}
.body-content .container-wrapper .container.map-menu a.checked span {
    cursor: default;
    position: relative
}
.body-content .container-wrapper .container.map-menu a.checked span.underline-dotted {
    border-bottom: none
}
.map-wrapper {
    //background: #fbfcff;
    position: relative
}
.map-wrapper .map {
    width: 100%;
    height: 541px;
    cursor: pointer
}
.map-wrapper .map.mini {
    height: 282px
}
.map-wrapper #progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 48px;
    background: rgba(0, 60, 136, .4);
    width: 0;
}
.map-wrapper .legends {
    width: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    bottom: -1px
}
.map-wrapper .legends .legmini {
    width: 100%;
    position: relative;
    display: table
}
.map-wrapper .legends .legmini .legblock {
    line-height: 14px;
    display: table-cell;
    text-align: center
}
.map-wrapper .legends.mini .legmini .legblock {
    padding: 2px 4px;
    font-size: 11px
}
.map-wrapper .legends.mini .legmini .legblock:first-child,
.map-wrapper .legends.mini .legmini .legblock:last-child {
    padding: 2px 5px
}
.map-wrapper .legends .legmini .legblock {
    padding: 2px 5px;
    font-size: 12px;
    color: #333
}
.map-wrapper .legends .legmini .legblock:first-child,
.map-wrapper .legends .legmini .legblock:last-child {
    padding: 2px 4px
}
.map-wrapper #timeline-wrapper {
    display: none
}
.map-wrapper #timeline-wrapper .timeline {
    display: table;
    width: 100%;
    position: relative;
    padding-top: 24px;
    padding-left: 52px;
    padding-right: 36px;
    display: flex;
}
.map-wrapper #timeline-wrapper .timeline .time-interval {
    line-height: 24px;
    border-left: 1px solid #bcc6ea;
    display: table-cell;
    position: relative;
    font-size: 14px;
    color: #bcc6ea;
    text-align: center;
    cursor: pointer;
    padding: 0 6px 0px 0px;
    flex-basis: auto;
    flex-grow: 1;
}
.map-wrapper #timeline-wrapper .timeline .time-interval:first-child {
    border-left: 0
}

.map-wrapper #timeline-wrapper .timeline .time-interval .date {
    position: absolute;
    top: -22px;
    left: 0;
    background: none;
    border: none;
    font-weight: 400;
    z-index: 1;
    text-align: left;
}

.map-wrapper #timeline-wrapper .timeline .time-interval .time em {
    font-style: normal;
    font-size: 9px;
    position: absolute;
    top: -2px
}
.map-wrapper #timeline-wrapper .timeline .time-interval.selected {
    background: #bcc6ea;
}
.map-wrapper #timeline-wrapper .timeline .time-interval.selected .time {
    color: #3b55c5;
    display: block
}
.map-wrapper div.play-button {
    width: 36px;
    height: 36px;
    background-color: #dfe5fb;
    padding: 9px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 36px;
    opacity: 0.8;
    left: 8px;
    top: 6px;
    position: absolute;
    z-index: 1;
}
.map-wrapper div.play-button:hover {
    opacity: 1;
}
.map-wrapper div.play-button:hover .triangle-1,
.map-wrapper div.play-button:hover .triangle-2 {
    border-right: 18px solid #dfe5fb;
}
.map-wrapper a.play-button {
    height: 18px;
    width: 18px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.map-wrapper a.play-button.paused {
    margin-left: 2px;
}
.map-wrapper a.play-button.paused .left,
.map-wrapper a.play-button.paused .right {
    width: 100%
}
.map-wrapper a.play-button.paused .triangle-1 {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.map-wrapper a.play-button.paused .triangle-2 {
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
}
.map-wrapper .left {
    height: 100%;
    float: left;
    background: #314dae;
    width: 6px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    overflow: hidden
}
.map-wrapper .triangle-1 {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}
.map-wrapper .triangle-2 {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}
.map-wrapper .triangle-1,
.map-wrapper .triangle-2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 18px solid #dfe5fb;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease
}
.map-wrapper .right {
    height: 100%;
    float: right;
    width: 6px;
    background: #314dae;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}
.marker {
    width: 32px;
    height: 32px;
    background: url(/images/location2.svg) no-repeat;
    top: 0;
    left: 0;
    margin: -32px 0 0 -16px;
    position: absolute;
    z-index: 2;
    opacity: .8
}   
.timelabel {
    bottom: 17px;
    left: 0;
    border-radius: 0 4px 0 0;
    line-height: 1em;
    position: absolute;
    padding: 4px;
    background: hsla(0, 0%, 100%, .8);
    font-size: 11px;
}

.stepChange {
	text-align: center;
}

.stepChange .button {
	display: inline-block;
	background-color: #FBFCFF;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    margin: 2px 0;
    min-width: 54px;
    padding: 0 6px;
    text-align: center;
    color: #3b55c5;
    border: 1px solid #e9eeff;
    border-collapse: collapse;
    margin-left: -6px;
    cursor: pointer;

}

.stepChange .button.selected {
	background-color: #3b55c5;
	color: #fff;
	cursor: default;
}

.map_descr {
    display: none;
}

.select-wrapper {
  width: 900px;
  position: absolute;
  top: 16px;
  left: 24px;
  z-index: 1001;       
}

.select-wrapper .map_types {
    width: 302px;
    display: inline-block;
}

.select-wrapper .step {
    width: 138px;
    display: inline-block;
}

.select-wrapper .hours {
    width: 162px;
    display: inline-block;
}

#mouse-position {
    position: absolute;
    bottom: 17px;
    padding: 6px;
    line-height: 20px;
    background-color: rgba(0,60,136,.5);
    color: #fff;
    left: 50%;
    width: 130px;
    margin-left: -65px;
    text-align: center;
}