<div class="main_container bg-white">
    <div class="block_top">
        <div class="block_title main_container_title_width">
            <div class="icon"><img src="//www.meteonova.ru/images/icon.png" width="26" height="26" alt="Прогноз погоды в Москве для автомобилистов" ></div>
            <div class="title"><b>КОГДА НУЖНО МЕНЯТЬ ЛЕТНЮЮ РЕЗИНУ НА ЗИМНЮЮ</b></div>
        </div>
    </div>
    <div class="block_content">
        <style>
            .tires-notif-text {
                padding: 16px 8px;
                color:#3b55c5;
                font-size:15px;
                background: url('/images/tires_back.png') no-repeat;
            }
            .tires-notif-text::after {
                background: url(/images/tires_winter.svg) no-repeat;
                background-size: 48px auto;
                background-position: 0;
                margin-top: 0;
                content: '';
                width: 48px;
                height: 48px;
                position: absolute;
                right: 8px;
                top: 50%;
                margin-top: -24px;
            }
        </style>
        <div class="tires-notif-text"><b>Сейчас переходный сезон: у вас могут быть как зимние, так и летние шины</b></div>
    </div>
</div>