.searchform {
    width: 100%;
    height: 31px;
    position: relative;
    display: inline-block;
}
.searchform.w-300 {
    width: 280px
}

.searchform.frc {
    width: 230px;
    margin-top: 12px;
    float: right
}
.searchform.frc.main {
    width: 100%;
}
input:focus {
    outline: none
}
.fill-input {
    height: 31px;
    border: 0;
}

.gray .searchform {
    margin-top: 0
}
.right-input input {
    font-size: 15px;
    border: 0;
    border-radius: 4px;
    width: 100%;
    background: #eef1fd;
    position: relative;
    height: 31px;
    padding-left: 8px;
}
.right-input input.grey {
    color: #333;
    color: #666
}
.searchform .img {
    width: 13px;
    height: 13px;
    background: url(/images/lens_gray.png) no-repeat;
    float: right;
    margin-top: 10px;
    position: absolute;
    cursor: pointer;
    right: 8px;
    z-index: 1000;
}
.searchform .img.gray {
    background: url(/images/lens_gray.png) no-repeat
}
.searchform .img.spinner {
    background: url(/images/spinner.gif) no-repeat;
    cursor: default
}
.searchform .img.spinner,
.searchform .img.x {
    width: 16px;
    height: 16px;
    margin-top: 7px;
    right: 8px
}
.searchform .img.x {
    background: url(/images/x.png) no-repeat;
    cursor: pointer
}
.searchform .img.gray.x {
    background: url(/images/x_gray.png) no-repeat
}
.suggest {
    border: 0;
    border-radius: 4px;
    padding-bottom: 1px;
    background-color: #eef1fd;
    overflow: hidden;
    position: absolute;
    top: 1px;
    z-index: 1000;
    display: none;
    cursor: pointer
}
.suggest.e {
    cursor: default
}
.suggest.onfocus {
    display: block
}
.suggest div {
    font-size: 15px;
    padding: 4px 8px;
    color: #3b55c5;
    background: transparent;
    text-align: left
}
.suggest div span.dc {
    font-size: 13px;
    color: #839fff;
    margin: 0;
    padding-left: 8px
}
.suggest div.onhover,
.suggest div.onhover span.dc {
    background: #fff;
}
.suggest div.onhover span.dc {
    font-weight: 400
}
.discript span.all_search,
.discript span.c,
.discript span.d,
.discript span.e,
.discript span.t {
    font-size: 14px;
    color: #333;
    font-weight: 700;
    border-bottom: 1px dashed #333
}
.discript span.all_search a,
.discript span.c a,
.discript span.d a,
.discript span.e a {
    color: #333;
    text-decoration: none
}
.discript span.d,
.discript span.t {
    border: none;
    cursor: default
}

::placeholder {
    color: #839fff;
    opacity: 1;
}
