.weather_td {
    width: 50px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff
}

.fon_0_0 {
    background-image: url(/images/fon/0_0.gif)
}

.fon_0_1 {
    background-image: url(/images/fon/0_1.gif)
}

.fon_0_3 {
    background-image: url(/images/fon/0_3.gif)
}

.fon_0_8 {
    background-image: url(/images/fon/0_8.gif)
}

.fon_1_0 {
    background-image: url(/images/fon/1_0.gif)
}

.fon_1_1 {
    background-image: url(/images/fon/1_1.gif)
}

.fon_1_3 {
    background-image: url(/images/fon/1_3.gif)
}

.fon_1_8 {
    background-image: url(/images/fon/1_8.gif)
}

.fon_2_0 {
    background-image: url(/images/fon/2_0.gif)
}

.fon_2_1 {
    background-image: url(/images/fon/2_1.gif)
}

.fon_2_3 {
    background-image: url(/images/fon/2_3.gif)
}

.fon_2_8 {
    background-image: url(/images/fon/2_8.gif)
}

.fon_3_0 {
    background-image: url(/images/fon/3_0.gif)
}

.fon_3_1 {
    background-image: url(/images/fon/3_1.gif)
}

.fon_3_3 {
    background-image: url(/images/fon/3_3.gif)
}

.fon_3_8 {
    background-image: url(/images/fon/3_8.gif)
}

.fon_0 {
    background-color: #b9bfcd
}

.fon_2 {
    background-color: #eee5c8
}

#frc_cont .date {
    width: 50px;
    color: #1f2298;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    background-color: transparent
}

#frc_cont .date.red,
#frc_cont .date.wpweek {
    color: #a70909
}

.date.sign {
    height: 20px
}

#frc_cont .tod {
    width: 50px;
    height: 20px;
    font-size: 13px
}

.tod.sign {
    height: 20px
}

#frc_cont .phenom {
    width: 50px;
    height: 80px
}

.phenom.sign {
    height: 80px
}

#frc_cont .mstorm {
    width: 50px;
    height: 30px;
    text-align: center
}

.mstorm.sign {
    height: 30px
}

#frc_cont .temper {
    width: 50px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    text-align: center
}

.temper.sign {
    height: 40px
}

#frc_cont .hum {
    width: 50px;
    height: 24px;
    font-size: 13px;
    text-align: center
}

.hum.sign {
    height: 24px
}

#frc_cont .wind {
    width: 50px;
    height: 40px;
    font-size: 13px;
    text-align: center
}

.wind.sign {
    height: 40px
}

.red,
.wpweek {
    color: #a70909
}

.dnmn,
.white {
    color: #fff
}

.bold,
.dnmd {
    font-weight: 700
}

#frc_cont {
    width: 562px !important;
}

#frc_cont .date,
#frc_cont .tod {
    border: 0 solid
}

#frc_cont .date.red {
    color: #a70909
}

#frc_cont .hum,
#frc_cont .temper,
#frc_cont .wind {
    border: 0 solid;
    border-bottom: 1px solid #fff
}

#frc_cont .wind div {
    width: 51px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.sign {
    width: 134px;
    color: #3b55c5;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    position: relative;
}

.graph-icon {
    position: absolute;
    right: 16px;
}

#delim {
    width: 3px;
    height: 100%;
    background-color: #2b3a6e
}

.display {
    display: block
}

.print_display {
    display: none
}

.d_red {
    color: #900
}

.d_red,
.d_yellow {
    font-weight: 700;
    font-size: 12px
}

.d_yellow {
    color: #cc8000
}

.d_green {
    font-weight: 700;
    color: #090;
    font-size: 12px
}

.nodsp {
    display: none
}


/*# sourceMappingURL=frc.css.map */