.map-wrapper {
    width: 664px; 
    float: right;
}

.map-wrapper .map {
    height: 498px;
}

#chartPrec, #chartPrecMax {
    width: 100%;
    height: 220px;
}

#chartPrec {
    margin-bottom: 20px;
}

#chartPrec a, #chartPrecMax a {
    opacity: 0 !important;
}